@import '../../styles/theme.scss';

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;

  &:hover {
    color: #1890ff;
  }

}

.layout {
  height: 100vh;
}

.content {
  height: 100%;
  overflow: scroll;

  >div {
    background: white;
    margin: 24px 0;
    padding: 24px;
    min-height: 90%;

    @include media(laptop) {
      margin: 24px 16px;
    }
  }
}
